.formEdit{
  margin-top: 5%;
  height: 100%;
  width: 40%;
  border: 1px solid black;
  justify-content: center;
}

.formEditContent {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form {
  width: 100%;
  padding-left: 5%;
}

.titleContent {
  display: flex;
  justify-content: space-around;
}

.titleForm {
  display: flex;
  width: 80%;
  gap: 20px;
  justify-content: center;
}

.formClose {
  width: 10%;
  font-size: 30px;
}

