.content_content {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;
  overflow-y: hidden;
}

.Modal {
  width: 98%;
  height: auto;
  justify-content: center;
  overflow-y:scroll;
  
}

.contentTodo {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-left: 1%;
  width: 98%;
  border: 1px grey solid;
  border-radius: 20px;
  align-items: center;
  padding: 1%;
}

.hidden {
  display: none;
}

.optionsTodo {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.Buscador{
  display: flex;
  border: 1px black solid;
  border-right: 0px;
  border-radius: 20px;
  width:40%;
  align-items: center;
  position: relative;
}


.Buscador > i {
  position: relative;
  padding: 2px;
  right: 0.5%;
  cursor: pointer;
}

.Buscador > input {
  position: relative;
  background-color: transparent;
  padding-left: 0;
  border: 0;
  width: 100%; 
  border-radius: 5px;
}

.Buscador > input::placeholder{
  color: black;
  padding-left: 40%;
} 

.DontTask {
  margin: 5%;
}