.content {
  display: flex;
  justify-content: center;
  align-self: center;
  height:100%;
  background-image: radial-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75) ),url(/Img/fondo.jpg);
  background-size:contain;
}
.contentCrear {
  background-color:white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  height:auto;
  border: 1px grey solid;
  border-radius: 20px;
  align-items: center;
  place-self: center;
  padding: 30px;
}
button {
  margin-block: 10%;
  width: 90%;
  border-radius: 5px;
  padding: 3px;
  color: white;
  background-color: black;
}
.create {
  display: flex;
  width: 90%;
  padding-top: 40px;
  border-bottom: 1px solid black;
  border-radius: 5px;
}
.create > i {
  display: none;
}

.create > input{
  padding-left: 5%;
  border: 0;
  width: 100%;
  border-radius: 5px;
}