.tareas {
  background-color: whitesmoke;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 1%; 
  border: 1px black solid;
  border-radius: 10px;
  padding: 0.5%;
}
.title {
  display: flex;
  width: 80%;
  gap: 20px;
}

.options {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.checkmark {
  display: flex;
  height: 30px;
}


.checkbox {
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  appearance: none;
}
.checkbox:checked {
  background-color: rgb(0, 68, 128);
}


.options > i {
  margin-right: 5%;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width:700px) {
  .tareas {
    width: 98%;
  }
  
  .title {
    font-size: 10px;
  }

  .checkbox{
    align-self: center;
    width:15px;
    height: 15px;
  }

  .options > i{
    font-size: 20px;
  }
}