.Content {
  display: flex;
  justify-content: center;
  align-self: center;
  height:100%;
  background-image: radial-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75) ),url(/Img/Todolist.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.loginContent {
  background-color:white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  height: auto ;
  border: 1px grey solid;
  border-radius: 20px;
  align-items: center;
  place-self: center;
  padding: 2%;
}

.Campos {
  display: flex;

  width: 90%;
  padding-top: 20%;
  border-bottom: 1px solid black;
  border-radius: 5px;
  margin-block: 2%;
}
.Campos >i {
 position: relative;
  left: 5%;
  z-index: 1; 
}

.Campos > input{
  position: relative;
  left: -6%;
  padding-left: 15%;
  border: 0;
  width: 100%;
  border-radius: 5px;
}

.Entrar {
  display: flex;
  flex-direction: column;
}
.Entrar > button {
  margin-top: 40px; 
  width: 90%;
  border-radius: 5px;
  padding: 3px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.Entrar > button:hover {
  background-color: rgb(41, 36, 36);
}

.Registro {
  padding-top: 20px;
  display: flex;
  flex-direction: row ;
}

.Registro__link {
  padding-left: 3px;
  color: darkblue;
}

@media screen and (max-width:700px) {
  .loginContent {
    width: 80%;
  }
}