.Content {
  display: flex;
  justify-content: center;
  align-self: center;
  height:100%;
  background-image: radial-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75) ),url(/Img/Todolist.jpg);

}

.loginContent {
  background-color:white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  height:60%;
  border: 1px grey solid;
  border-radius: 20px;
  align-items: center;
  place-self: center;
  padding: 30px;
}

.Campos {
  display: flex;
  width: 185px;
  padding-top: 40px;
  border-bottom: 1px solid black;
  border-radius: 5px;
  z-index: 1;
}
.Campos >i {
  position: relative;
  left: 10px;
  z-index: 1;
}

.Campos > input{
  position: relative;
  left: -11px;
  padding-left: 15%;
  border: 0;
  width: 180px; 
  border-radius: 5px;
}

.Entrar {
  display: flex;
  flex-direction: column;
}
.Entrar > button {
  margin-top: 40px;
  width: 185px;
  border-radius: 5px;
  padding: 3px;
  color: white;
  background-color: black;
}

.Registro {
  padding-top: 20px;
  display: flex;
  flex-direction: row ;
}

.Registro__link {
  padding-left: 3px;
  color: darkblue;
}