.Content_Registro {
  display: flex;
  justify-content: center;
  align-self: center;
  height:100%;
  background-image: radial-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75) ),url(/Img/Todolist.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.RegistroContent {
  display: flex;
  background-color: white;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  border: 1px grey solid;
  border-radius: 20px;
  align-items: center;
  place-self: center;
  padding: 30px;
}

.Datos {
  display: flex;
  width: 90%;
  padding-top: 40px;
  border-bottom: 1px solid black;
  border-radius: 5px;
}
.Datos > i {
  position: relative;
  left: 5%;
  z-index: 1;
}

.Datos > input{
  position: relative;
  left: -6%;
  padding-left: 15%;
  border: 0; 
  width: 100%;
  border-radius: 5px;
}
.passsword {
  margin-top: 5%;
  color: red;
  position: relative;
  right: 5%;
}

.Registrarse {
  display: flex;
  flex-direction: column;
}
.Registrarse > button {
  margin-top: 40px;
  width: 90%;
  border-radius: 5px;
  padding: 3px;
  color: white;
  background-color: black;
}

.Login {
  padding-top: 20px;
  display: flex;
  flex-direction: row ;
  position: relative;
}

.Login__link {
  padding-left: 3px;
  color: darkblue;
}

@media screen and (max-width:700px) {
  .RegistroContent {
    width: 80%;
  }
}